/*Polices (Corps, titres, paragraphes*/
@font-face 
{
    font-family: 'raleway';
    src: url('font/raleway.woff') format('woff'),
         url('font/raleway.woff2') format('woff2');       
}

*
{
    font-family: 'raleway',Arial, Helvetica, sans-serif;
}

a
{
    text-decoration: none;
}
h1
{
    font-size: x-large;
    font-weight: bolder;
}

h2, button
{
    font-size: large;
    font-weight: bolder;
}
/*_______*/


/*Bloc-page*/
#topsection
{
    
}

header
{
    display: flex;

}
.logo
{

}

.signup
{
    width: 11%;
    font-weight: bold;
    text-align: center;
    color: #0065fc;
    position: absolute;
    top: 0%; 
    right: 0%;
    height: 100px;   
}

nav 
{
    display: flex;
    width: 22%;
    height: 100px; 
    position: absolute;
    top: 0;
    right: 11.3% ;

}

nav div
{   display: flex;
    justify-content: center;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    border :1px solid blue;
   
}

#navigation li
{


 
}


/*______*/

/*Barre de recherche*/

#searchbar
{
    border: red 1px solid;
}
#request
{
    display: flex;
    height: fit-content;
    width: 29%;
    border: solid 2px green;
    

}

#iconmap
{
    display: flex;
    justify-content: space-between;
    width: 50px;
    background-color: #f2f2f2;
    justify-content:center;
    align-items:center;
    height:50px;
    width:50px;
}

#entryfield
{
    border: 2px solid tomato;

}
/*__________________*/

/*Filtres*/
#containerfilter
{
    display:flex;
    align-items: center;
}

#filters
{
    display: flex;
    width: 65%;
}
.button
{   
    display:flex;
    border:#f2f2f2 solid 2px;
    background-color: white;
    align-items:center;
    height:50px;
    border-left-color: transparent;
    margin:20px;
    padding-right: 20px;
    border-radius:50px 0px 0px 50px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;

    
}


.filtersicons
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
    width:50px;
    margin-left: -10px;
    margin-right: 10px;
    background-color:#deebff;
    border-radius:50%;
    color: #0065fc;  
}

.button:hover
{
    background-color: #0065fc;
    
}






/*Section principale*/
#section1
{

}

#hébergements
{

}

#pluspopulaires
{

}
/*__________________*/

/*Section secondaire*/
/*__________________*/

/*Footer*/
footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#f2f2f2
}

.footerlist
{


}
/*______*/