/*Polices (Corps, titres, paragraphes*/
@font-face 
{
    font-family: 'raleway';
    src: url('font/raleway.woff') format('woff'),
         url('font/raleway.woff2') format('woff2');       
}

*
{
    font-family: 'raleway',Arial, Helvetica, sans-serif;
}

a
{
    color: initial;
    text-decoration: none;
}
h1
{
    font-size: x-large;
    font-weight: bolder;
}

h2, button
{
    font-size: large;
    font-weight: bolder;
}
/*_______*/


/*Bloc-page*/
body
{
    margin: 0%;
    w
}

header
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    font-size: small;
    font-weight: bold;
}

nav 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

nav, #log
{
    font-weight: bolder;
    color: #0065fc;

}

#intro
{
    grid-column: span 2;
}
/*______*/

/*Barre de recherche*/

#searchbar
{   
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 50px;
    justify-content: flex-end;
    width: min-content;
    border:transparent;
    
    
}

#iconmap
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}


#ville
{
border-color: #f2f2f2;
width: 235px;
  
}

#submit
{
   background-color: #0065fc;
   width: 135px;

   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;

}
/*__________________*/

/*Filtres*/
#containerfilter
{
    display:grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 2fr;
    align-content: center;
    margin-block: 30px;
}


#filters
{
    display: flex;
    flex-wrap: wrap;

}

#disponibilité
{
    grid-column: span 2;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#iconinfo
{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 25px;
    width:25px;
    border: 1px solid #f2f2f2;
    border-radius:50%;
    color: #0065fc; 
    margin-right: 1%;
}
.button
{   
    display:flex;
    border:#f2f2f2 solid 2px;
    background-color: white;
    align-items:center;
    border-left-color: transparent;
    border-radius:50px 0px 0px 50px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    margin-right: 2%;
    padding-right: 1%;

    
}


.filtersicons
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
    width:50px;
    margin-left: -10px;
    margin-right: 10px;
    background-color:#deebff;
    border-radius:50%;
    color: #0065fc;  
}

.button:hover
{
    background-color: #deebff;
    
}






/*Section principale*/
main
{
    display: grid;
    grid-template-columns: 67% 33%;
    grid-template-rows: 1fr 1fr;



}
#section1
{
    display: grid;
    padding: 20px;


}

#hébergements
{
    display: grid;
    grid-template-rows: 55px 1fr 75px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f2f2f2;
    border-radius: 10px 15px;
    padding: 20px;

}

#hébergement, h1
{
    grid-column: span 3;
}

#hébergement,p
{
    grid-column: span 3;
}

#blocphoto1
{   display: grid;
    grid-column: span 3;
    border: 1px solid sienna;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}

.vignette1

{
    display: grid;
    grid-template-rows: 114px 75px ;
    width:236px;
    height: 189px;
    border: 5px solid white;
    border-radius: 10px 15px;
}


#mostpopular
{
    display: grid;
    padding: 20px;
}

#blocphoto2
{   display: grid;
    grid-column: span 2;
    border: 1px solid sienna;
    grid-template-columns: 1fr 1 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

#hébergements2
{
    display: grid;
    grid-template-rows: 55px 1fr 75px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f2f2f2;
    border-radius: 10px 15px;
    padding: 20px;
}

#activités
{
    grid-column: span 2;
}

/*__________________*/

/*Section secondaire*/
/*__________________*/

/*Footer*/
footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#f2f2f2
}

.footerlist
{
}
.footerlist,li
{
    list-style-type: none;
    
}


/*______*/